/* BODY */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  background: #f2f2f2;
  overflow: hidden;       
  padding: 40px;
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
}


/*PAGE LAYOUT */
.pageContainer {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden; 
}


/* FORM CARD */
.formCard {
  height: 415px;
  flex-shrink: 0;
  background:white;
  border-radius:12px;
  padding:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  width:200px;
}


/* TABLE CARD */
.tableCard {
  width: 760px;
  height: 455px;
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  box-sizing: border-box;
  min-height: 0;
}


/* TABLE WRAPPER */
.tableWrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #dfe5ec;
  border-radius: 10px;
}


/* TABLE */
.displayRegisteredData {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0;
  table-layout: fixed;
}


/* TABLE HEADER */
.displayRegisteredData thead th {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #049c4f;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 13px;
  border-right: 1px solid #0a8747;
  border-bottom: 1px solid #0a8747;
}

/* TABLE BODY */
.displayRegisteredData td {
  background: white;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #dfe5ec;
  border-bottom: 1px solid #dfe5ec;
  font-size: 12px;
}


/* CUSTOM SCROLLBAR */
.tableWrapper::-webkit-scrollbar {
  width: 10px;
}

.tableWrapper::-webkit-scrollbar-track {
  background: #edf2f7;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background: #09b15b;
  border-radius: 20px;
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
  background: #048f46;
}


/* BUTTON COLORS */
.editBtn {
  color: blue;
  cursor: pointer;
}

.deleteBtn {
  color: red;
  cursor: pointer;
}


/* ICON */
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e8f7ee;
}


/* H1 */
h1 {
  color: green;
  font-size: 24px;

  display: flex;
  align-items: center;
  gap: 12px;

  margin: 0 0 20px 0;
}


/* INPUTS */
input,
select {
  width: 200px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}


/* BUTTON */
button {
  background-color: #04AA6D;
  color: white;
  width: 200px;
  padding: 10px;
  margin-top: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #037e51;
}


/* LABELS */
label {
  color: green;
  font-size: 12px;
}


/* MANDATORY */
.mandatory {
  color: red;
}


/* Style the dropdown */
select {
  width: 200px;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  font: Arial;
  font-size: 12px;
} 

/* Style the body */
/*body {
  font-family: Arial;
  background: #f2f2f2;      
  padding: 40px;
  display: flex;
  justify-content: center;  
  align-items: center;      
}*/

/* Style to make any tag invisible */
.invisible {
  display: none;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -105px;
  background-color: #43973c;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  right: 10%;
  top: 20px;
  font-size: 12px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 20px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 20px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.pageContainer {
    display: flex;
    justify-content: space-between; /* puts them side by side */
    align-items: flex-start;
    gap: 40px; /* space between form and table */
    padding: 30px;
}

.deleteBtn {
  color: red;
}

.editBtn {
  color: blue;
}

.icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e8f7ee;
  display: flex;
  align-items: center;
  justify-content: center;
}